/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
     margin: 0;
     font-family: 'Overpass';
     margin-top:-12px;
 }

 html{
     background:rgb(231, 230, 230);
 }

 .main{
     background:white;
     margin: 0 7%;
 }

 .logo{
     position: relative;
     top: 20px;
     left: 80px;
     color:white;
     font-size: 16px;
     font-weight:700;
     letter-spacing: 1px;
 }

 .login-modal{
     display: block;
 }

 .signup-modal{
     display: block;
 }

 .hidden {
    display:none;
 }

 .main-img{
     width:100%;
     height:450px;
     margin-top: -65px;
     border-top:5px solid #f50;
     padding-top:0;
 }


#sign-in{
    background-color: black;
    color: white;
    border: 1px solid rgb(201, 198, 198);
    border-radius: 3px;
    padding:8px 15px 8px 15px;
    position:relative;
    top:-20px;
    left: 900px;
    cursor:pointer;
    pointer-events: all;
}

#sign-in:hover {
    border: 1px solid  #fff;
}

#sign-up{
    background-color:#f50;
    color:#fff;
    border: 1px solid #f50;
    border-radius:3px;
    padding:8px  15px 8px 15px;
    position:relative;
    top:-20px;
    left: 910px;
    cursor:pointer;
    pointer-events: all;
}

.main-container{
    margin-top:-80px;
    text-align:center;
}

.main-btn{
    background-color: #f50;
    color: white;
    padding:15px 23px;
    border:1px solid #f50;
    border-radius: 3px;
    cursor:pointer;
    pointer-events: all;
}

.main-p{
    font-family: 'Overpass';
    margin-top:45px;
    font-size: 24px;
    font-weight: 300;
    
}

.main-h1{
    display:inline-block;
    position: relative;
    top:-220px;
    left: 250px;
    color: white;
    font-weight: 300;
    font-size: 40px;
    padding:20px;
    background:transparent;
}

footer {
    margin-top: 100px;
    text-align:center;
    border-top: 1px solid rgb(209, 207, 207);
    padding-top: 30px;
    padding-bottom: 30px;

}

footer a{
    text-decoration: none;
}

.icon-links{
    height:50px;
    width:50px;
    margin: 30px 40px;
    text-decoration:none;
    color:black;
    cursor:pointer;
}



.modal {
    position: fixed;
    top: 30%;
    left: 33%;
    border: 1px solid white;
    z-index: 10;
    background-color: white;
    width: 450px; 
    height: auto;
    max-width: 80%;
    text-align: center;
    border: 1px solid grey;
}

.modal input {
    width: 80%;
    height: 35px;
    font-size:18px;
    margin: 10px 0;
    pointer-events: all;
    
}

.guest-btn{
    margin-bottom:0;
    pointer-events: all;
}

.modal button {
    width: 82%;
    background-color:#f50;
    color:white;
    margin: 10px 0;
    height: 35px;
    border: 1px solid #f50;
    font-size:16px;
    margin-bottom: 30px;
    pointer-events: all;
    cursor: pointer;
}

.form-type {
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
    font-size: 30px;
}

.overlay {
    opacity:1;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.384);
    pointer-events: none;
}

.hide {
    z-index: -10;
    background-color:rgb(255, 253, 253);
}

.grey{
    background-color: rgba(0, 0, 0, 0.384);

}

.logout-btn{
    pointer-events: all;
}

