.discover-song-list {
    display: flex;
    justify-content: start;
    border-bottom: 1px solid rgb(236, 235, 235);
    padding-bottom: 20px;
    margin-top: 30px;
    flex-wrap: nowrap;
    overflow-y: scroll;
    margin-left: 18px;
    scroll-behavior: auto;
}

#discover-song-list-last {
    border: none;
}

.discover-h1{
    font-weight: 300;
    font-size: 26px;
    margin-left: 30px;
    margin-top:20px;

}

.discover-p {
    margin-left: 30px;
    font-weight: 100;
    color: rgb(129, 128, 128);
    margin-top: -10px;
}

// .song-discover-play{
//     height:30px;
//     width: 30px;
//     position: relative;
//     color:white;
//     padding:15px;
//     border:0;
//     background-color: #f50;
//     border-radius: 50%;
//     z-index:200;
//     top:-120px;
//     left:60px;
// }

// .song-discover-play:hover{
//     background-color: rgb(255, 51, 0);
//     cursor: pointer;
//     z-index: 200;
// }

.song-title,
.song-username {
    margin-top: 10px;
}

.song-discover-play{
    display: block;
}