.play-button-div {
    background:#f50;
    z-index: 1000;
    display: inline-block;
    padding:15px;
    border-radius: 50%;
    position: absolute;
    height: 30px;
    width:30px;
    top: 95px;
    color:white;
    left:130px;
    cursor: pointer;
}



.play-button-div:hover{
    background-color: rgb(255, 51, 0);
    cursor: pointer;
}

.play-button-icon{
    height: 30px;
    width: 30px;
}